@import url("https://fonts.googleapis.com/css2?family=REM:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: Roboto;
  line-height: 1.7;
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

a {
  color: blue;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
}

img {
  width: 100%;
}

/* top-navbar */
.top-nav {
  background-color: blue;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: white;
}
.top-nav i,
.top-nav span {
  vertical-align: middle;
}

.social-links a {
  text-decoration: none;

  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  border-radius: 100%;
}

.social-links a:hover {
  background-color: white;
  color: blue;
}

/* header */
.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  font-family: Poppins;
}
.navbar-brand {
  font-weight: 700;
  font-family: REM;
}
.btn {
  padding: 9px 24px;
  font-weight: 1000;
}
#contact-btn {
  background-color: blue;
  color: white;
  border-color: blue;
}
#contact-btn:hover {
  background-color: rgb(2, 2, 49);
  color: white;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
  color: blue;
}
